
/* ---------------GENERAL POST STYLES-------------- */
a {
    overflow-wrap: break-word;
}
.title_link_text {
    color: #555555;
    text-decoration: none;
}
.title_link_text:link {
    color: #555555;
}
.title_link_text:hover {
    color: #222222;
}

.post_wrapper {
    padding: 10px;
    margin: 0px;
}
.title {
    margin: 0px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-bottom: none;
    height:auto !important;
    overflow: auto;
    overflow-wrap: break-word;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.content {
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dddddd;
    border-top: none;
    border-bottom: none;
    height:auto !important;
    overflow: auto;
    background: #F3F3F3;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.buffer {
    margin: 0px;
    padding: 10px;
    border-top: 1px solid #dddddd;
}
.date {
    display: inline-block;
    float: left;
    color: #999999;
}
div.author {
    float: right;
    display: inline-block;
    color: #999999;
}
div.right {
    float: right;
    display: inline-block;
    margin: 10px;
    margin-right: 0px;
}
.author_link {
    color: #999999;
}
.author_link:link, .author_link:active, .author_link:visited {
    color: #999999;
}
.author_link:hover {
    color: #555555;
}
.feed_button {
    color: #FFF;
    background-color: #4675AB;
    border: 1px solid #3868B6;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    text-align: center;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: content-box;
    cursor: pointer;
    min-height: 18px;
}
div.hidden_button {
    display: none;
}
.title:hover .hidden_button {
    display: inline;
    margin: 10px;
    margin-bottom: 0px;
}
.content:hover .hidden_button {
    display: inline;
    margin: 10px;
    margin-bottom: 0px;
}
div.icon {
    display: inline;
}
img.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* ---------------TWITTER FEED STYLES-------------- */


.twitter_icon {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

/* ---------------RSS FEED STYLES-------------- */
    
.rss_content_long {
}
.rss_content_long:after {
    content: "\25BC";
    color: #4675AB;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.content:hover .rss_content_long:after {
    content: "";
}

.rss_content_ext {
    display: none;
}

.ellipses {
    display: inline;
}
    
.content:hover .rss_content_long > .ellipses:after {
    content: "";
}

.ellipses:after {
    content: "...";
}
    
.ellipses_ext {
    display: none;
}
    
.ellipses_ext:after {
    content: "...";
}
    
.content:hover .rss_content_long > span {
    display: inline;
}